<div class="row container">
  <div class="column" [style.width.px]=dimensions()?.nameW>{{ food()?.name }}</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food()?.protein }} g</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food()?.carbs }} g</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food()?.fat }} g</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food()?.calories }} kcal</div>

  <button type="button" (click)="addFood(food())">{{ food()?.quantity + '' + food()?.unit }}</button>
  <div style="display: flex; gap: 4px;">
    <input type="number" [formControl]="amount" class="no-spinners specific-amount">

    <input type="text" disabled [value]="food()?.unit" class="unit"/>

    <button type="button" (click)="addSpecificAmount(food())" class="specific-amount-button">ajouter mesure</button>
  </div>

</div>

<style>

  .container {
    display: flex;
    flex-direction: row;
  }

  .row {
    padding: 2px;
  }

  .column {
    margin: 0 2px 0 2px;
  }

  .no-spinners {
    -moz-appearance: textfield;
  / / Firefox
  }

  .specific-amount {
    margin-left: 10px;
    width: 30px;
  }

  .unit {
    width: 10px;
  }

  .specific-amount-button {
    width: 100px;
  }

</style>
