<div class="row food-container">
  <div class="column" [style.width.px]=dimensions()?.nameW>{{ food().name }}</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food().protein }} g</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food().carbs }} g</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food().fat }} g</div>
  <div class="column" [style.width.px]=dimensions()?.macroW>{{ food().calories }} kcal</div>

  <app-add-food [food]="food()" (foodAdded)="foodAdded.emit($event)"></app-add-food>

</div>

<style>

  .food-container {
    display: flex;
    flex-direction: row;
  }

  .row {
    padding: 2px;
  }

  .column {
    margin: 0 2px 0 2px;
  }

</style>
