<div class="documentation-container">
  <div class="documentation-page">
    <h1>Application simple et gratuite pour compter les calories</h1>
    <p>
      Bonjour, je m'appelle Paul.
      J'ai créé cette <strong>application pour compter les calories</strong> parce que je
      voulais une solution simple, rapide et efficace, loin des applications complexes ou remplies de publicités.
    </p>
    <p>
      Passionné de musculation depuis plusieurs années, j'ai d'abord suivi mes repas avec un fichier Excel pour
      <strong>calculer mes calories et mes macro-nutriments</strong>. Mais ce n'était pas vraiment pratique au quotidien.
    </p>
    <p>
      C'est pourquoi j'ai développé ce <strong>compteur de calories gratuit</strong> qui te permet de suivre
      facilement tes apports en protéines, glucides et lipides.
      Si tu cherches une <strong>application simple pour compter tes calories</strong> et mieux gérer ton alimentation,
      elle est faite pour toi.
    </p>

    <h2>Pourquoi utiliser une application pour compter ses calories ?</h2>
    <p><strong>Le comptage des calories</strong> est l'une des méthodes les plus efficaces pour atteindre ses objectifs de
      santé ou de fitness. En effet, 80% des résultats physiques passe par l'alimentation.
      Contrairement aux autres apps souvent complexes, notre <strong>application compteur de calories</strong> te permet
      d'entrer tes repas en quelques secondes, sans pub et sans fonctionnalités superflues.
    </p>

    <a title="'utilise le compteur de calories gratuit" class="cta-link" routerLink="/compteur-calories"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
    >J'utilise le compteur de calories gratuit</a>

    <p>
      N'hésitez pas à me <a href="mailto:paul.denhez.ds@gmail.com?subject=Feedback%20Application%20Calories&body=Bonjour%20Paul,%0D%0A%0D%0AJe%20voulais%20te%20donner%20mon%20avis%20sur%20ton%20application%20:%0D%0A">contacter par email</a> pour de nouvelles fonctionnalités ou me faire part de vos avis.
    </p>
  </div>
</div>
