.preview-container {
  margin-left: 8px;
  margin-right: 8px;
}

.select-elements-content {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  max-height: 15dvh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.foods {
  display: flex;
  flex-direction: column;
}

.selected-elements-header {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 10px;
}

.selected-elements-header .button {
  max-height: 28px !important;
  height: 28px;
}
