@use './variables' as vars;

.button {
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  background: vars.$primary-dark;
  color: vars.$white-pale;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  outline: none;
}

