@use './variables' as vars;

a {
  text-decoration: none;
  transition: color 0.2s;
  color: vars.$grey-darker;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &.active {
    font-weight: 600;
    opacity: 1;
  }
}
