@use './variables' as vars;

a {
  color: vars.$primary-color;
  text-decoration: none;
  transition: color 0.2s;

  &:hover,
  &:focus {
    color: vars.$secondary-color;
    text-decoration: underline;
  }

  &.active {
    font-weight: 600;
    opacity: 1;
  }
}
