<div class="container">
  <div>
    <button type="button"
            class="specific-amount-button mobile-only button"
            (click)="manualFoodInputModalOpen.set(true)">ajouter mesure manuelle
    </button>
    <div class="desktop-only">
      <ng-container *ngTemplateOutlet="manualInput"></ng-container>
      <div class="header">
        <app-food-list-header [label]="'Nom'" [style.width.px]="rowDimensions.nameW"></app-food-list-header>
        <app-food-list-header class="header" [label]="'Protéines'"
                              [style.width.px]="rowDimensions.macroW"></app-food-list-header>
        <app-food-list-header class="header" [label]="'Glucides'"
                              [style.width.px]="rowDimensions.macroW"></app-food-list-header>
        <app-food-list-header class="header" [label]="'Lipides'"
                              [style.width.px]="rowDimensions.macroW"></app-food-list-header>
        <app-food-list-header class="header" [label]="'Calories'"
                              [style.width.px]="rowDimensions.macroW"></app-food-list-header>
      </div>
    </div>

    <app-search-bar class="mg-2" (search)="onSearch($event)"></app-search-bar>

    <div class="food-rows-container">
      @for (food of foodsFiltered(); track food.name) {
        <app-mobile-food-row class="mobile-only food-row" (clicked)="onFoodRowClicked($event)" [food]="food"
                             [dimensions]="rowDimensions" (foodAdded)="onAddFood($event)"></app-mobile-food-row>
        <app-desktop-food-row class="desktop-only" [food]="food" [dimensions]="rowDimensions"
                              (foodAdded)="onAddFood($event)"></app-desktop-food-row>
      }
    </div>
  </div>
  <div class="desktop-only preview flex-column">
    <app-food-preview [foods]="selectedFoods()"
                      (removeAll)="clearPreview()"
                      (foodRemoved)="onRemoveFood($event)"></app-food-preview>
  </div>
</div>

<app-bottom-preview [display]="true" class="mobile-only" [isCollapsed]="previewCollapsed()"
                    (togglePreview)="onTogglePreview()">
  <div class="preview">
    <app-food-preview [foods]="selectedFoods()"
                      [collapsed]="previewCollapsed()"
                      [mobileStyle]="true"
                      (removeAll)="clearPreview()"
                      (foodRemoved)="onRemoveFood($event)"></app-food-preview>
  </div>
</app-bottom-preview>

<ng-template #manualInput>
  <div class="flex flex-column gap-1">
    <h2>Saisie manuelle</h2>
    <div class="flex flex-row">
      <div class="manual-input-container input-group">
        <input id="name" [formControl]="manualName" class="input w-25" type="text" placeholder="nom"/>
        <input id="proteins" [formControl]="manualProteins" class="input no-spinners w-xxs"
               type="number" placeholder="protéines"/>
        <input id="carbs" [formControl]="manualCarbs" class="input no-spinners w-xxs"
               type="number" placeholder="glucides"/>
        <input id="fat" [formControl]="manualFat" class="input no-spinners w-xxs"
               type="number" placeholder="lipides"/>
        <input id="calories" [formControl]="manualCalories" class="input no-spinners w-xxs"
               type="number" placeholder="calories"/>
        <input id="amount" [formControl]="manualAmount" class="input no-spinners w-xs"
               type="number" placeholder="montant (g)"/>
      </div>
      <div class="input-group">
        <button type="button" (click)="addManualFood()" class="button add-manual-button">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 4v12M4 10h12" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
          <span>Ajouter</span>
        </button>
      </div>
    </div>
  </div>

</ng-template>

<app-modal-input [isOpen]="manualFoodInputModalOpen()" (closed)="manualFoodInputModalOpen.set(false)">
  <ng-container class="manual-input-container" *ngTemplateOutlet="manualInput"></ng-container>
</app-modal-input>

<app-modal-input [isOpen]="mobileFoodInputModalOpen()" (closed)="mobileFoodInputModalOpen.set(false)">
  <app-macro-display [food]="editedFood()"></app-macro-display>
  <app-add-food [food]="editedFood()" (foodAdded)="onAddFood($event)"></app-add-food>
</app-modal-input>
