<div style="display: flex">
  <button type="button" (click)="addFood(food())">{{ food()?.quantity + '' + food()?.unit }}</button>
  <div style="display: flex; gap: 4px;">
    <input type="number" [formControl]="amount" class="no-spinners specific-amount">

    <input type="text" disabled [value]="food()?.unit" class="unit"/>

    <button type="button" (click)="addSpecificAmount(food())" class="specific-amount-button button">ajouter mesure</button>
  </div>
</div>

<style>

  .no-spinners {
    -moz-appearance: textfield;
  }

  .specific-amount {
    margin-left: 10px;
    width: 30px;
  }

  .unit {
    width: 10px;
  }

  .specific-amount-button {
    width: 100px;
  }
</style>
