.add-food-container {
  display: flex;
}

.no-spinners {
  -moz-appearance: textfield;
}

.specific-amount {
  margin-left: 10px;
  font-size: 12px;
  width: 30px;
}

.unit {
  width: 10px;
}

.specific-amount-button {
  font-size: 12px;
}
