.add-food-container {
  display: flex;
}

.no-spinners {
  -moz-appearance: textfield;
}

.specific-amount {
  margin-left: 10px;
  height: 100%;
  vertical-align: middle;
  max-width: 80px;
}

.unit {
  width: 10px;
}

.specific-amount-button {
  font-size: 12px;
  white-space: nowrap;
}
