<div class="food-header">
  <div class="food-name"> {{ food().name }}</div>
  <div class="macro-header">
    <div class="macro-column">
      <span class="macro-name">pro</span>
      <span class="macro-value">{{ food().protein }}</span>
    </div>
    <div class="macro-column">
      <span class="macro-name">lip</span>
      <span class="macro-value">{{ food().fat }}</span>
    </div>
    <div class="macro-column">
      <span class="macro-name">glu</span>
      <span class="macro-value">{{ food().carbs }}</span>
    </div>
    <div class="macro-column">
      <span class="macro-name">kcal</span>
      <span class="macro-value">{{ food().calories }}</span>
    </div>
  </div>
</div>
