@use 'theme/buttons';
@use 'theme/links';
@use 'theme/input';
@use 'theme/tags';
@use 'theme/utilities/margins';
@use 'theme/utilities/borders';
@use 'theme/utilities/widths';
@use 'theme/variables' as vars;

// Reset CSS basique
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: vars.$white-pale;
  color: vars.$grey-darker;
  font-family: 'Roboto', Arial, sans-serif;
  min-height: 100vh;
  font-size: 14px;
  overflow-x: hidden;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.container {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: start; /* centre verticalement */
  min-height: 100vh; /* prend toute la hauteur de la fenêtre */
  width: 100vw;
}

header {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

app-header {
  width: 100%;
  display: block;
}
